<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="./css/photon.css">
        <link rel="stylesheet" href="./css/pure-drawer.css">
        <script src="./js/angular.min.js"></script>
        <script src="./js/angular-sanitize.js"></script>
        <script src="./js/handle.js"></script>
    </head>
    <body ng-app="app" ng-controller="indexController" ng-cloak>
        <div class="pure-container" data-effect="pure-effect-slide">
            <input type="checkbox" id="pure-toggle-right" class="pure-toggle" data-toggle="right"/>
            <nav class="pure-drawer" data-position="right">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="nav-primary">
                            <li ng-click="openBrowser('https://tun-application.github.io/')"><label for="pure-toggle-right" data-toggle-label="right">Visit Home Page</label></li>
                            <li ng-click="openBrowser('https://github.com/tun-application/Tunlookup/releases')"><label for="pure-toggle-right" data-toggle-label="right">Check Latest Version</label></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pure-pusher-container">
                <div class="pure-pusher">
                    <p style="width: 300px; margin: 100px auto;">
                        <div class="window">
                            <div class="window-content">
                                <div class="pane-group">
                                    <div class="pane-sm sidebar">
                                        <ul class="list-group">
                                            <li class="list-group-header">
                                                <input class="form-control" type="text" ng-model="keyword" placeholder="Search your dictionary">
                                            </li>
                                            <li class="list-group-item" ng-repeat="item in dictionary | filter:keyword track by $index" ng-click="selectWord(item.id)" ng-class="{active:active == item.id}">
                                                <div class="media-body">
                                                    <strong><span ng-click="delete(item.id)" title="delete" class="icon icon-trash"></span> {{item.text}}</strong>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pane">
                                        <form>
                                            <select class="form-control" ng-model="option.from">
                                                <option ng-repeat="item in language" value="{{::item.code}}">{{::item.country}}</option>
                                            </select>
                                            <div class="padded-more">
                                                <span ng-class="{'icon-sound':option.from === 'en', 'icon-mute':option.from !== 'en'}" ng-if="selection.trim()" class="icon" ng-click="speak(option.from, selection)"></span>
                                                &nbsp;&nbsp;<span class="my-text">{{selection}}</span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="pane">
                                        <form>
                                            <select class="form-control" ng-model="option.to">
                                                <option ng-repeat="item in language" value="{{::item.code}}">{{::item.country}}</option>
                                            </select>
                                            <div class="padded-more">
                                                <span ng-if="selection.trim()" ng-class="{'icon-sound':option.to === 'en', 'icon-mute':option.to !== 'en'}" class="icon" ng-click="speak(option.to, result.sentences[0].trans)"></span>
                                                &nbsp;&nbsp;<span ng-if="is_translating" class="my-text">translating...</span>
                                                <span ng-repeat="item in result.sentences" class="my-text">{{item.trans}}</span>
                                                <div ng-if="result.dict.length"><hr><h4>Bản dịch khác</h4></div>
                                                <p ng-repeat="item in result.dict">
                                                    <span ng-bind-html="renderDict(item.terms)"></span>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <footer class="toolbar toolbar-footer">
                                <div class="toolbar-actions">
                                    <button class="btn btn-default" ng-click="hideWindow()">Cancel</button>
                                    <div class="btn-group">
                                        <button class="btn btn-default" ng-click="fullScreen()"><span ng-class="{'icon-resize-small':is_maximize, 'icon-resize-full':!is_maximize}" class="icon"></span></button>
                                        <label class="btn btn-default" for="pure-toggle-right" data-toggle-label="right"><span class="icon icon-dot-3"></span></label>
                                    </div>
                                    <input autofocus type="text" ng-model="search" class="btn btn-default" placeholder="Input your text..." ng-keypress="lookupOther($event)">
                                    <button class="btn btn-primary pull-right" ng-click="saveWord()">Save</button>
                                </div>
                            </footer>
                        </div>
                    </p>
                </div>
            </div>

            <label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>
        </div>
    </body>
    <div class="loading" ng-if="is_show_loading"><div class="gif"></div></div>
</html>